@import './_universal.css';
@import './components/buttons.css';
@import './components/cards.css';

main {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    position: relative;  
}

#profile-img-container {
    padding-top: 2vh;   
    padding-bottom: 3vh;   
}

#profile-img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1;
    border: 1px solid #939393;
    background-color: #fcfcfc;
    border-radius: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.profile-img-component {
    border-radius: 100%;
    aspect-ratio: 1;
    position: absolute;
}

#post-stream {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: .5em;
}

#post-stream h2 {
    margin-bottom: .5em;
}

#posts-container .post-card {
    margin-bottom: 1vh;
}

#write-post-link-wrapper {
    width: fit-content;
    position: sticky;

    /* .5rem is to leave a bit of fixed, consistent distance from the border */
    bottom: calc(2vw + .5rem);
    margin-left: auto;
    padding-right: calc(2vw + .5rem);
}

#write-post-link {
    --icon-width: 2rem;

    margin-top: 1em;
    padding: calc(var(--icon-width) / 2.5);
    border-radius: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
}

#write-post-link img {
    width: var(--icon-width);
}

@media (min-width: 500px) {
    #write-post-link img {
        --icon-width: 2.5rem;
    }  
}
