@import 'misc/universal.css';
@import 'misc/state.css';
@import 'component/form.css';

form {
    margin: auto;
    padding: 1em;
    /* I don't want to 'impose' an height.
    It starst with the default height ruled by the browser and
    then the user is free to regulate it however he wants. */
    /* height: 100vh; */
}

.feedback-card {
    margin-block: 5px;
}

