@import './_universal.css';
@import './components/form.css';
@import './components/buttons.css';
@import './components/cards.css';

form {
    margin: auto;
    padding: .5em;
}

button[type=submit] {
    margin-left: auto;
}

.feedback-card {
    margin-block: 5px;
}

