@import 'misc/universal.css';
@import 'misc/state.css';
@import 'component/form.css';

body {
    padding-block: 1em;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.msg-card {
    /* width: 100%; */
    margin-bottom: 1em;
}

#reply-form {
    flex-grow: 2;
}

.feedback-card {
    margin-block: 5px;
}

