<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Look at posts, make a post, possibly reply to some of them">
    
    <title>Post Stream</title>
    
    <link rel="stylesheet" href="../stylesheets/index.css">
    <script type="module" src="../scripts/index.js"></script>
    
    {{ universal-resources }}    
</head>
<body>
    <h1 class="hidden">Post Stream</h1>
    
    <main>
        <nav id="controls-nav">
            <button id="reload-posts-btn" class="secondary-btn" title="reload">
                &olarr;
            </button>
            <button class="control secondary-btn selected" title="load posts from newest to oldest" value="desc">
                DESC
            </button>
            <button class="control secondary-btn" title="load posts from oldest to newest" value="asc">
                ASC
            </button>
            <button class="control secondary-btn" title="load posts randomly" value="rand">
                RAND
            </button> 
        </nav>

        <!-- <div id="post-stream"> -->
        <!-- The container around the posts is just handy for the manipulations via JS -->
        <div id="posts-container">
            {{ post-cards }}
        </div>

        {{ .feedback-card }}
        
        <button id="load-more-posts-btn" class="primary-btn">load more</button>
        <!-- </div> -->
    </main>

    {{ #side-nav }}
</body>
</html>
