<!DOCTYPE html>
<html lang="en" 
    itemscope itemtype="https://schema.org/WebPage">
    <!-- Found itemscope and itemtype in the Google Drive web page. 
    It seems quite useless, but I wanted to copy it anyway. -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Look at posts, make a post, possibly reply to some of them">
    
    <title>Post Stream</title>
    
    <link rel="stylesheet" href="../stylesheets/index.css">
    <script type="module" src="../scripts/index.js"></script>
    
    {{ universal-resources }}    
</head>
<body>
    <h1 class="hidden">Post Stream</h1>
    
    <main>
        <nav id="controls-nav">
            <button id="reload-posts-btn" class="secondary-btn" title="reload">
                &olarr;
            </button>
            <button class="control secondary-btn selected" title="load posts from newest to oldest" value="desc">
                DESC
            </button>
            <button class="control secondary-btn" title="load posts from oldest to newest" value="asc">
                ASC
            </button>
            <button class="control secondary-btn" title="load posts randomly" value="rand">
                RAND
            </button> 
        </nav>

        <div id="post-stream">
            
            <!-- The container around the posts is just handy for the manipulations via JS -->
            <div id="posts-container">
                {{ post-cards }}
            </div>

            <div class="feedback-card none">
                <div class="feedback-icon"></div>
                <div class="feedback-content">
                    <p class="feedback-title"></p>
                    <p class="feedback-text"></p>
                </div>
                <button class="close-btn" type="button">x</button>
            </div>
            
            <button id="load-more-posts-btn" class="primary-btn">load more</button>
        </div>

        <nav>
            <a href="write-post" id="write-post-link" class="secondary-btn" title="Write a post">
                <img src="assets/write-post.svg" class="icon" alt="Write post icon">
            </a>            
        </nav>
    </main>

    {{ #side-nav }}
    {{ #open-side-nav-btn }}
</body>
</html>
