<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login">

    <title>Postream / Login</title>
    
    <link rel="icon" type="image/webp" href="../assets/logo.webp">
    <link rel='stylesheet' href='../stylesheets/_universal.css'>
        
    <script type='module' src="../scripts/_universal.js"></script>
    <script type="module" src="../scripts/login.js"></script>

    <style>
        button[type=submit] {
            margin-left: auto;
        }
    </style>
</head>
<body>
    <script>
        const light_mode = localStorage.getItem('light-mode');
        if (light_mode === 'moon-mode')
        {
            document.querySelector('html').classList.add('moon-mode');
        }
    </script>

    <h1 class="visually-hidden">Login</h1>

    <main>
        <form action="api/token">

            <!-- Not used. Here only to shut-up a browser warning 
             about best practices for forms. -->
            <input type="text" id="username" hidden autocomplete="username">
    
            <label for="password">Password:</label>
            <input 
                id="password" 
                name="password" 
                type="password" 
                autocomplete="current-password" placeholder="····················">
    
            <div class="card feedback-card display-none">
                <span role='img' alt='feedback icon'></span>
                <p>
                    <span class='type'></span>
                    <span class='msg'></span>
                </p>
                <button class="close-btn" type='button'>🗙</button>
            </div>
    
            <button class="primary-btn" type="submit">
                Login
            </button>
        </form>
    </main>

    {{ #side-panel }}
</body>
</html>
