<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Post Stream / Login</title>
    
    <link rel="stylesheet" href="../stylesheets/login.css">
    <script type="module" src="../scripts/login.js"></script>
    {{ universal-resources }}
</head>
<body>
    <h1 class="hidden">Login</h1>

    <main>
        <form action="api/token">
    
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="·····">
    
            <div class="card feedback-card display-none">
                <div class="feedback-icon"></div>
                <div class="feedback-content">
                    <p class="feedback-title"></p>
                    <p class="feedback-text"></p>
                </div>
                <button class="close-btn" type="button">x</button>
            </div>
    
            <button class="primary-btn" type="submit">
                Login
            </button>
        </form>
    </main>

    {{ #side-nav }}
    
</body>
</html>
