<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Post Stream / Login</title>
    
    <link rel="stylesheet" href="../stylesheets/login.css">
    <script type="module" src="../scripts/login.js"></script>
    
    {{ universal-resources }}
</head>
<body>
    <h1 class="hidden">Login</h1>

    <main>
        <form action="api/token">
    
            <label for="password">Password:</label>
            <input 
                id="password" 
                name="password" 
                type="password" 
                autocomplete="current-password" placeholder="·····">
    
            {{ .feedback-card }}
    
            <button class="primary-btn" type="submit">
                Login
            </button>
        </form>
    </main>

    {{ #side-nav }}
    
</body>
</html>
