<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="logo of the website">    

    <title>Post Stream | Logo</title>
    
    <link rel="icon" type="image/webp" href="../assets/logo.webp">
    <link rel="stylesheet" href="../stylesheets/_universal.css">
    <style>
        body {
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: center;
        }

        main {
            width: 200px;
            aspect-ratio: 1;
            background-color: orange;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        main h1 {
            font-size: 10rem;
        }
    </style>
</head>
<body>
    <main>
        <h1>P</h1>
    </main>
</body>
</html>
