<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Logout page">

    <title>Postream / Logout</title>

    <link rel="icon" type="image/webp" href="../assets/logo.webp">
    <link rel='stylesheet' href='../stylesheets/_universal.css'>
      
    <script type='module' src="../scripts/_universal.js"></script>
    <script type="module" src="../scripts/logout.js"></script>

    <style>
        form {
            padding: 1em;
        }

        button[type=submit] {
            margin: auto;
        }
    </style>
</head>
<body>
    <h1 class="hidden">Logout</h1>

    <main>
        <p class="info-msg">You'll be redirected to the index page.</p>
    
        <form>
            <button class="primary-btn" type="submit">Logout</button>
        </form>
    </main>

    {{ #side-nav }}
    
</body>
</html>
