<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Post Stream / Notifications</title>

    <link rel="stylesheet" href="../stylesheets/notifications.css">
    <script type="module" src="../scripts/notifications.js"></script>

    {{ universal-resources }}
</head>
<body>
    <main>
        <h1>Notifications</h1>

        <!-- TODO add display-sticky to the feedback-card -->
        {{ .feedback-card }}

        {{ notification-cards }}
    </main>

    {{ #side-nav }}
    
</body>
</html>
