<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Take a look at the posts you made">
    
    <title>Postream / Profile</title>
    
    <link rel="stylesheet" href="../stylesheets/profile.css">
    <script type="module" src="../scripts/profile.js"></script>

    {{ universal-resources }}
</head>
<body>
    <h1 class="hidden">Profile</h1>

    <main>
        <span id="profile-picture" role="img"></span>

        <h2>Posts</h2>

        <div id="feedback-card-wrapper">
            {{ .feedback-card }}
        </div>

        <div id="posts-container" class="cards-container">{{ post-cards }}</div>
    </main>

    {{ #side-nav }}
</body>
</html>
