<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Take a look at the posts you made">
    
    <title>Postream / Profile</title>
    
    <link rel="icon" type="image/webp" href="../assets/logo.webp">
    <link rel='stylesheet' href='../stylesheets/_universal.css'>
    <link rel="stylesheet" href="../stylesheets/profile.css">
      
    <script type='module' src="../scripts/_universal.js"></script>
    <script type="module" src="../scripts/profile.js"></script>
</head>
<body>
    <h1 class="hidden">Profile</h1>

    <main>
        {{ #profile-picture }}

        <h2>My Posts</h2>
        
        <div id="posts-container" class="cards-container">{{ post-cards }}</div>
        
        <dialog id="delete-post-dialog">
            <form method="dialog">
                <button type="button" id="close-dialog-btn" aria-label="close dialog" formnovalidate>✗</button>
                <p>Are you sure you want to delete the post?</p>
                <footer>
                    <button type="reset" class="secondary-btn">Cancel</button>
                    <button type="submit" class="secondary-btn">Delete</button>
                </footer>
            </form>

            <div class="card feedback-card display-none">
                <span role='img' alt='feedback icon'></span>
                <p>
                    <span class='type'></span>
                    <span class='msg'></span>
                </p>
                <button class="close-btn" type='button'>x</button>
            </div>
        </dialog>
    </main>

    {{ #side-nav }}
</body>
</html>
