<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Read the entire post">        
    
    <title>Postream / Read Post</title>

    <link rel="icon" type="image/webp" href="../assets/logo.webp">
    <link rel='stylesheet' href='../stylesheets/_universal.css'>
      
    <script type='module' src="../scripts/_universal.js"></script>

    <style>
        .post-card {
            content-visibility: auto;
        }

        .reply-card {
            margin-top: .5em;
            margin-inline: auto;
        }

        #replies-container:empty:after {
            content: 'There aren\'t replies.';
        }
    </style>
</head>
<body>
    <h1 class="visually-hidden">Read Post</h1>
    
    <main>
        {{ .post-card }}

        <div id="replies-container" class="cards-container">{{ replies }}</div>
    </main>

    {{ #side-nav }}
    
</body>
</html>
