<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Read the entire post">        
    
    <title>Postream / Read Post</title>
        
    <link rel="stylesheet" href="../stylesheets/read-post.css">

    {{ universal-resources }}
</head>
<body>
    <h1 class="hidden">Read Post</h1>
    
    <main>
        {{ .post-card }}
        {{ replies }}
    </main>

    {{ #side-nav }}
    
</body>
</html>
