<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Reply to a post">
    
    <title>Postream / Write Reply</title>
    
    <link rel="icon" type="image/webp" href="../assets/logo.webp">
    <link rel='stylesheet' href='../stylesheets/_universal.css'>
      
    <style>
        form {
            margin-top: 1em;
        }

        button[type=submit] {
            margin-left: auto;
        }

        textarea {
            background-color: var(--bkg-reply-card);
        }
    </style>
</head>
<body>
    <script>
        const light_mode = localStorage.getItem('light-mode');
        if (light_mode === 'moon-mode')
        {
            document.querySelector('html').classList.add('moon-mode');
        }
    </script>

    <h1 class="visually-hidden">Write Reply</h1>

    <main>
        {{ .post-card }}

        <form id="reply-form" action="api/reply" method="POST">
            <textarea name="reply-textarea" placeholder="_"></textarea>
            
            <div class="card feedback-card display-none">
                <span role='img' alt='feedback icon'></span>
                <p>
                    <span class='type'></span>
                    <span class='msg'></span>
                </p>
                <button class="close-btn" type='button'>🗙</button>
            </div>
        
            <button class="primary-btn" type="submit">
                Reply 
            </button>
        </form>
    </main>

    {{ #side-panel }}
    
    <script type="module">
        import { req, show_feedback_card, hide_feedback_card, err_msg, sanitize_input } from '../scripts/_universal.js';

        const write_reply_form = document.querySelector('form');
        const textarea = write_reply_form.querySelector('textarea');
        const submit_reply_btn = write_reply_form.querySelector('button[type=submit]');
        const feedback_card = write_reply_form.querySelector('.feedback-card');

        write_reply_form.addEventListener('submit', handle_reply_submission);

        async function handle_reply_submission(e)
        {
            e.preventDefault();
            submit_reply_btn.disabled = true;
            hide_feedback_card(feedback_card);

            const path = write_reply_form.attributes.action.value;
            const method = write_reply_form.attributes.method.value;
            
            const post_id = document.URL.split('?id=')[1];
            const content = sanitize_input(textarea.value);

            const { status_code, payload, req_error } = await req(path, method, null, { post_id, content });

            if (req_error) {
                show_feedback_card(feedback_card, 'error', err_msg(status_code, 'reply', 'send'));
            } else {
                show_feedback_card(feedback_card, 'success', 'Reply created successfully');
            }

            submit_reply_btn.disabled = false;
        }
    </script>
</body>
</html>
