<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Postream / Write Post</title>
    
    <link rel="icon" type="image/webp" href="../assets/logo.webp">
    <link rel='stylesheet' href='../stylesheets/_universal.css'>
      
    <script type='module' src="../scripts/_universal.js"></script>
    <script type="module" src="../scripts/write-post.js"></script>
    
    <style>
        button[type=submit] {
            margin-left: auto;
        }
    </style>
</head>
<body>
    <main>
        <h1 class="hidden">Write Post</h1>
    
        <form action="api/post" method="POST">
            <textarea name="post-textarea" placeholder="_"></textarea>
            
            <div class="card feedback-card display-none">
                <span role='img' alt='feedback icon'></span>
                <p>
                    <span class='type'></span>
                    <span class='msg'></span>
                </p>
                <button class="close-btn" type='button'>x</button>
            </div>
        
            <button class="primary-btn" type="submit">
                Upload 
            </button>
        </form>
    </main>

    {{ #side-nav }}

    <script type="module">
        import { req, show_feedback_card, hide_feedback_card, err_msg } from '../scripts/_universal.js';

        const write_post_form = document.querySelector('form');
        const textarea = write_post_form.querySelector('textarea');
        const feedback_card = write_post_form.querySelector('.feedback-card');

        write_post_form.addEventListener('submit', handle_post_submission);

        async function handle_post_submission(e)
        {
            e.preventDefault();
            hide_feedback_card(feedback_card);

            const path = write_post_form.attributes.action.value;
            const method = write_post_form.attributes.method.value;
            
            const content = textarea.value;
            const created_at = new Date().toLocaleString();
            
            const { status_code, req_error } = await req(path, method, null, { content, created_at });

            if (req_error) {
                show_feedback_card(feedback_card, 'error', err_msg(status_code, 'post', 'send'));
            } else {
                show_feedback_card(feedback_card, 'success', 'Post created successfully');
            }
        }
    </script>
</body>
</html>
