#req-feedback {
    font-size: 1.2rem;
    padding: .35em .5em;
    border-radius: 7px;
    color: white;
}

#req-feedback.success {
    background-color: green;
}

#req-feedback.error {
    background-color: rgb(154, 15, 15);;
}
