.letter-card {
    padding: 1.2rem;
    background: #f5f5f5;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.letter-card p {
    color: var(--clr-txt);
    font-size: 1.2rem;
    line-height: 1.4;
    max-width: 70ch;
    width: 100%;
    /* Keep extra whitespaces and newlines.
    A side-effect of this property is that if the text is selected,
    the selection overflows a bit the card. */
    white-space: pre-wrap; 
}

.letter-card time {
    display: block;
    text-align: right;
    padding-top: 1em;
    color: rgb(72, 72, 72);
}

.letter-card a {
    display: inline-block;
    margin-top: .5em;
}
