form {
    --input-padding: 1.2rem;
    --ta-border-width: 1px;
    --ta-font-size: 1.2rem;

    font-size: var(--ta-font-size);

    /* I use this prop to set the width of the inner textarea.
    I don't set it from the textarea itself, 
    because the width would be shrinked down given 'margin: auto'
    (also flex has the same effect). */
    max-width: calc(70ch + 2*var(--input-padding) + 2*var(--ta-border-width));
    width: 100%;

    /* For some reason if I don't put flex, 
    the form overflows (over 100vh of the body) */
    display: flex;
    flex-direction: column;
}

form > input {
    padding: var(--input-padding);
    font-size: inherit;
    line-height: 1.4;
    width: 100%;
    height: 100%;
}

form > textarea {
    padding: var(--input-padding);
    font-size: inherit;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    resize: vertical;
}

form > button[type=submit] {
    display: block;
    margin-top: .5rem;
    font-size: 1.2rem;
    /* .66em == .8rem given font-size = 1.2rem */
    padding-block: .66em; 
    padding-inline: 1.2em;
}
