form {
    --text-line-length: 70ch;
    --input-padding: 1.2rem;
    --border-thickness: 1px;

    font-size: 1.2rem;
    max-width: calc(var(--text-line-length) + var(--input-padding)*2 + var(--border-thickness)*2);
}

form > input {
    padding: var(--input-padding);
    font-size: inherit;
    line-height: 1.4;
    width: 100%;
}

form > textarea {
    padding: var(--input-padding);
    font-size: inherit;
    line-height: 1.4;
    width: 100%;
    resize: vertical;
}

form > button[type=submit] {
    display: block;
    margin-top: .5rem;
    font-size: 1.2rem;
    padding-block: .67em; 
    padding-inline: 1.2em;
}

form > .feedback-card {
    margin-block: 5px;
}
