@import './buttons.css';

:root {
    --profile-pic-size: 70px;
    --bullet-size: .3em;
    --list-fs: 2rem;
}

#side-nav {
    font-size: var(--list-fs);
    padding: 1em;
    height: 100vh;
    background-color: var(--clr-bkg);

    ul {
        font-size: inherit;
        line-height: 1.2;
        list-style: none;
        /* avoid 'create-account' link from wrapping onto two lines */
        white-space: nowrap;

        li {
            position: relative;

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    a[href=profile] > span {
        display: block;
        width: var(--profile-pic-size);
        aspect-ratio: 1;
        background-color: white;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0px 3px #ccc;
    }

    a[href=profile] > span:hover {
        box-shadow: 0 2px 4px 1px #ccc;
    }

    a[href=profile] > span .circle {
        position: absolute;
        aspect-ratio: 1;
        border-radius: 100%;
    }
}

#side-nav > button {
    /* only for desktop */
    display: none;
    margin-top: 5vh;
    background: unset;
    border: unset;
    font-size: 2rem;
    color: rgb(164, 164, 164);
    margin-left: auto;
    border-radius: 8px;
} 

#side-nav > button[title='minify nav'] {
    padding-right: .5em;
}
#side-nav > button[title='expand nav'] {
    padding-left: .5em;
}

#side-nav > button:hover {
    background-color: rgb(237, 237, 237);
}

@media (max-width: 1189px) {
    :root {
        --list-fs: 1.5rem;
        --profile-pic-size: 60px;
    }

    #side-nav {
        box-shadow: -2px 0px 8px #ccc;
        position: fixed;
        bottom: 0;
        right: 0;
        min-width: 35vw;
    }

    #open-side-nav-btn {
        position: fixed;
        bottom: 2vh;
        right: 3vw;
        /* Override default padding of .secondary-btn */
        padding: .75rem .65rem;
    }

    #open-side-nav-btn span[role=img] > span {
        margin-bottom: .65rem;   
        display: flex;
        align-items: center;
    }

    #open-side-nav-btn span[role=img] > span:last-child {
        margin-bottom: 0;
    }

    #open-side-nav-btn .bullet {
        --circle-color: #676767;
        display: inline-block;
        height: 5px;
        aspect-ratio: 1;
        background-color: var(--circle-color);
        border-radius: 100%;
        margin-right: .25em;
    }

    #open-side-nav-btn .row {
        display: inline-block;
        width: 32px;
        height: 3px;
        border-radius: 8px;
        background-color: var(--clr-txt);
    }
}

@media (min-width: 1190px) {
    /* For the main, I set the id '#main' so 
    that I can override the 'display-opaque' prop when I resize the page. */
    #main {
        opacity: 1;
    }

    #side-nav {
        display: block;
        box-shadow: -1px 0 0 #ccc;
    }

    #open-side-nav-btn {
        display: none;
    }

    #side-nav > button.display-block {
        display: block;
    }

    .minified-list li a:not(a[href=profile]) {
        visibility: hidden;
        display: inline-block;
        width: 0;
    }
    
    .minified-list li {
        padding-inline: 0 !important;
    }
}

#side-nav li:not(li[for=profile]) {
    margin-bottom: .25em;
    padding-left: calc(var(--bullet-size)*3); 
}

/* Apply this margin only when the profile-pic is present. */
#side-nav:has(li[for=profile]) li:not(li[for=profile]) {
    /* This margin is to align the bullets with the profile pic 
    and equally space left and right of the list items. */
    margin-inline: calc(var(--profile-pic-size)/2 - var(--bullet-size)/2);
}

#side-nav li[for=profile] {
    margin-bottom: .5em;
    width: fit-content;
}

#side-nav li:not(li[for=profile])::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    width: var(--bullet-size);
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--circle-color);
    /* margin-left: calc(var(--profile-pic-size)/2 - var(--bullet-size)/2); */
}

/* 
 * Color-specific customization */

#open-side-nav-btn span[for=index] .bullet,
#side-nav li[for=index]::before {
    --circle-color: #10b981;
}

#open-side-nav-btn span[for=write-post] .bullet,
#side-nav li[for=write-post]::before {
    --circle-color: #1ec8de;
}

#open-side-nav-btn span[for=login] .bullet,
#side-nav li[for=login]::before {
    --circle-color: #4affc3;
}

#open-side-nav-btn span[for=create-account] .bullet,
#side-nav li[for=create-account]::before {
    --circle-color: #ff8725;
}

#open-side-nav-btn span[for=notifications] .bullet,
#side-nav li[for=notifications]::before {
    --circle-color: #3b82f6;
}

#open-side-nav-btn span[for=profile] .bullet,
#side-nav li[for=profile]::before {
    --circle-color: #d359f8;
}
#side-nav li[for=profile]::before {
    border: none;
}

#open-side-nav-btn span[for=logout] .bullet,
#side-nav li[for=logout]::before {
    --circle-color: #ff793f;
}

#open-side-nav-btn span[for=delete-account] .bullet,
#side-nav li[for=delete-account]::before {
    --circle-color: #840000;
} 
