@import './buttons.css';

:root {
    --profile-pic-size: 70px;
    --bullet-size: .3em;
    --list-fs: 2rem;
}

#side-nav {
    font-size: var(--list-fs);
    padding: 1.2em;
    height: 100vh;
    background-color: var(--clr-bkg);
}

#side-nav ul {
    font-size: inherit;
    line-height: 1.4;
    list-style: none;
    /* avoid 'create-account' link from wrapping onto two lines */
    white-space: nowrap;

    /* Experiment. I saw that now it is possible to write nested CSS. */
    li {
        /* for the bullet made with ::before */
        position: relative;

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

#side-nav li[itemprop=profile] {
    margin-bottom: .5em;
    width: fit-content;
}

#side-nav li:not(li[itemprop=profile]) {
    margin-bottom: .25em;
    padding-left: calc(var(--bullet-size)*3); 
}

/* Apply this margin only when the profile-pic is present. */
#side-nav:has(li[itemprop=profile]) li:not(li[itemprop=profile]) {
    /* This margin is to align the bullets with the profile pic 
    and equally space left and right of the list items. */
    margin-inline: calc(var(--profile-pic-size)/2 - var(--bullet-size)/2);
}

#side-nav li:not(li[itemprop=profile])::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    width: var(--bullet-size);
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--circle-color);
    /* margin-left: calc(var(--profile-pic-size)/2 - var(--bullet-size)/2); */
}

#side-nav a[href=profile] > span {
    display: block;
    width: var(--profile-pic-size);
    aspect-ratio: 1;
    background-color: white;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0px 3px #ccc;
}

#side-nav a[href=profile] > span:hover {
    box-shadow: 0 2px 4px 1px #ccc;
}

#side-nav a[href=profile] > span .circle {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 100%;
}

#side-nav > button {
    /* only for desktop */
    display: none;
    margin-top: 5vh;
    background: unset;
    border: unset;
    font-size: 2rem;
    color: rgb(164, 164, 164);
    border-radius: 8px;
} 

#side-nav > button[title='minify nav'] {
    padding-right: .5em;
    margin-left: auto;
}
#side-nav > button[title='expand nav'] {
    padding-left: .5em;
    margin-inline: auto;
}

#side-nav > button:hover {
    background-color: rgb(237, 237, 237);
}

@media (max-width: 1189px) {
    :root {
        --list-fs: 1.5rem;
        --profile-pic-size: 60px;
    }

    #side-nav {
        box-shadow: -2px 0px 8px #ccc;
        position: fixed;
        bottom: 0;
        right: 0;
        min-width: 35vw;
    }

    #open-side-nav-btn {
        position: fixed;
        bottom: 2vh;
        right: 3vw;
        /* Override default padding of .secondary-btn */
        padding: .75rem .65rem;
    }

    #open-side-nav-btn span[role=img] > span {
        margin-bottom: .65rem;   
        display: flex;
        align-items: center;
    }

    #open-side-nav-btn span[role=img] > span:last-child {
        margin-bottom: 0;
    }

    #open-side-nav-btn .bullet {
        --circle-color: #676767;
        display: inline-block;
        height: 5px;
        aspect-ratio: 1;
        background-color: var(--circle-color);
        border-radius: 100%;
        margin-right: .25em;
    }

    #open-side-nav-btn .row {
        display: inline-block;
        width: 32px;
        height: 3px;
        border-radius: 8px;
        background-color: var(--clr-txt);
    }
}

@media (min-width: 1190px) 
{
    #side-nav {
        display: block;
        /* box-shadow: -1px 0 0 #ccc; */
        border-left: 1px solid #ccc;
    }

    #open-side-nav-btn {
        display: none;
    }

    #side-nav > button.display-block {
        display: block;
    }

    .minified-list li {
        padding-left: 0 !important;
    }

    .minified-list li a:not(a[href=profile]) {
        visibility: hidden;
        font-size: 0;
        /* display: inline-block; */
        /* width: 0; */
        /* overflow: hidden; */
    }  

    .minified-list li::before {
        display: none;
    }   
}

/* 
 * Color-specific customization */

#open-side-nav-btn span[itemprop=index] .bullet,
#side-nav li[itemprop=index]::before {
    --circle-color: #10b981;
}

#open-side-nav-btn span[itemprop=write-post] .bullet,
#side-nav li[itemprop=write-post]::before {
    --circle-color: #1ec8de;
}

#open-side-nav-btn span[itemprop=login] .bullet,
#side-nav li[itemprop=login]::before {
    --circle-color: #4affc3;
}

#open-side-nav-btn span[itemprop=create-account] .bullet,
#side-nav li[itemprop=create-account]::before {
    --circle-color: #ff8725;
}

#open-side-nav-btn span[itemprop=notifications] .bullet,
#side-nav li[itemprop=notifications]::before {
    --circle-color: #3b82f6;
}

#open-side-nav-btn span[itemprop=profile] .bullet,
#side-nav li[itemprop=profile]::before {
    --circle-color: #d359f8;
}
#side-nav li[itemprop=profile]::before {
    border: none;
}

#open-side-nav-btn span[itemprop=logout] .bullet,
#side-nav li[itemprop=logout]::before {
    --circle-color: #ff793f;
}

#open-side-nav-btn span[itemprop=delete-account] .bullet,
#side-nav li[itemprop=delete-account]::before {
    --circle-color: #840000;
} 
