@import './_universal.css';
@import './components/form.css';
@import './components/buttons.css';
@import './components/cards.css';

form {
    padding-block: 1em;
}

div:has(#password) {
    position: relative;
    background-color: rgb(251, 248, 233);
    border: 2px solid rosybrown;
    border-radius: 8px;
    width: fit-content;
    margin-inline: auto;
    margin-block: 1rem;
}

div:has(#password) button {
    font-family: sans-serif;
    display: block;
    letter-spacing: 1px;
    padding: .4em 1em;
    margin-left: auto;
    border-top-right-radius: 8px;
    font-size: .9rem;
    border: none;
    transition: background-color .25s ease;
}

div:has(#password) button.btn-unclicked {
    background-color: transparent;
}

div:has(#password) button.btn-unclicked:hover {
    background-color: buttonface;
}

div:has(#password) button.btn-clicked {
    color: darkgreen;
    background-color: rgb(219, 255, 199);
}

#password {
    font-size: 1.2rem;
    font-weight: 500;
    padding: .25em 1.25em .75em 1.25em;
}

button[type=submit] {
    margin: auto;
}

main > a[href=login] {
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 1.2rem;
}
