@import './_universal.css';
@import './components/form.css';
@import './components/buttons.css';
@import './components/cards.css';

form {
    padding: 1em;
}

button[type=submit] {
    margin: auto;
    color: #F8F9FA;
    /* Overrides the default colors */
    background: linear-gradient(180deg, #ff8383 0%, #840000 100%);
}

button[type=submit]:hover {
    background: linear-gradient(180deg, #ff6f6f 0%, #640000 100%);
}

button[type=submit]:active {
    background: linear-gradient(180deg, #620000 0%, #600000 100%);
}
