@import './_universal.css';
@import './components/buttons.css';
@import './components/cards.css';

body {
    max-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-inline: 0;
}

#controls-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding-bottom: 1.5vh;
    border-bottom: 1px solid #ccc;
    z-index: 1;
    box-shadow: -4px 3px 9px rgba(0, 0, 0, 0.1);
}

#post-stream {
    overflow-y: scroll;
    scrollbar-width: none;
    padding-inline: 2vw;
}

#post-stream > * {
    margin-inline: auto;
}

#posts-container {
    /* The post-card have some shadow and to avoid being covered by the container
    I add a bit of padding to their container. */
    padding-top: .5rem;
    width: fit-content;
}

#posts-container .post-card {
    margin-bottom: 1vh;
}

.feedback-card {
    margin-top: .75rem;
}

#load-more-posts-btn {
    font-size: 1rem;
    padding: .8rem;
    margin-top: .75rem;
    margin-bottom: 1.5rem;
    display: block;
}

@media (min-width: 500px) {
    #posts-container {
        padding-top: 1rem;
    }

    #load-more-posts-btn {
        font-size: 1.2rem;
    }
}

nav:has(#write-post-link) {
    width: fit-content;
    position: absolute;

    /* .5rem is to leave a bit of fixed, consistent distance from the border */
    bottom: 2vh;
    left: 2vw;
}

#write-post-link {
    --icon-width: 2.25rem;

    padding: calc(var(--icon-width) / 2.5);
    border-radius: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
}

#write-post-link img {
    width: var(--icon-width);
}

@media (min-width: 500px) {
    #write-post-link {
        --icon-width: 2.5rem;
    }  
}
