@import './_universal.css';
@import './components/cards.css';
@import './components/buttons.css';

main {
    /* to let the last notification not be covered by the menu btn*/
    padding-bottom: 12vh;
}

h1 {
    margin-block: .5em;
    text-align: center;
}

.notification-card {
    margin-bottom: .5em;
}
