@import './_universal.css';
@import './components/cards.css';
@import './components/buttons.css';

main {
    /* to let the last notification not be covered by the menu btn*/
    padding-bottom: 12vh;
}

h1 {
    margin-block: .5em;
    text-align: center;
}

.notification-card {
    margin-bottom: .5em;
    transition: all .3s ease-out;
    transform-origin: top;
    /* If overflow isn't set to hidden, 
    the text would appear to spill out below the boundaries of the shrinking card
    when the deleting class is set. */
    overflow: hidden;
}

.delete-notification-btn:hover {
    background-color: #ff8282;
}

.notification-card.deleting {
    opacity: 0;
    transform: scaleY(0);
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
}
