@import './_universal.css';
@import './components/cards.css';
@import './components/buttons.css';

main {
    overflow-y: scroll;
    /* scrollbar-width: none; */
    height: 100vh;
    padding-inline: 0;
    padding-top: 0;
    position: relative;
    padding-bottom: 10vh;
}

h1 {
    margin-top: 2vh;
    padding-block: .5em;
    text-align: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    background-color: hsl(210, 17%, 98%, .5);
    /* transition: all .3s ease-in-out; */
}

.notification-card 
{
    max-width: min(var(--card-max-width), calc(100% - 2*var(--page-inline-padding)));
    margin-bottom: .5em;

    /* If overflow isn't set to hidden, 
    the text would appear to spill out below the boundaries of the shrinking card
    while the card is deleted. See the 'deleting' class. */
    overflow: hidden;
}

.delete-notification-btn:hover {
    background-color: #ff8282;
}

#feedback-card-wrapper {
    position: sticky;
    top: 50%;
    left: 0;
    width: 100%;
    padding-inline: var(--page-inline-padding);
}

.feedback-card {
    margin-inline: auto;
    box-shadow: 0px 4px 11px 2px #b6b6b6;
}
