@import './_universal.css';
@import './components/buttons.css';
@import './components/cards.css';

body {
    /* for the posts stream */
    max-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;  
    max-height: 100vh;
}

#profile-picture {
    flex-shrink: 0;
    margin-bottom: 3vh;   
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 100%;
    margin-inline: auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0px 3px #ccc;
}

#profile-picture .circle {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 100%;
    box-shadow: 0 0px 3px #ccc;
}

h2 {
    font-size: 2em;
    margin-bottom: .5em;
    text-align: center;
}

#posts-container {
    overflow-y: scroll;
    scrollbar-width: none;
    width: fit-content;
    border-top: 1px solid #ccc;
    padding-top: .5rem;
}

#posts-container .post-card {
    margin-bottom: 1vh;
}

/* write-post-link is copy-pasted from index */
nav:has(#write-post-link) {
    width: fit-content;
    position: absolute;

    /* .5rem is to leave a bit of fixed, consistent distance from the border */
    bottom: calc(2vw + .5rem);
    left: calc(2vw + .5rem);
    /* padding-right: calc(2vw + .5rem); */
}

#write-post-link {
    --icon-width: 2rem;

    /* margin-top: 1em; */
    padding: calc(var(--icon-width) / 2.5);
    border-radius: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
}

#write-post-link img {
    width: var(--icon-width);
}

@media (min-width: 500px) {
    #write-post-link img {
        --icon-width: 2.5rem;
    }  
}
