main {
    padding: 0;
    padding-bottom: var(--page-padding-bottom);
    position: relative;
}

/* It's fundamental to keep the 'main' selector because '.profile-picture'
is present also inside the side-panel */
main .profile-picture {
    margin-block: 2.4rem;
    width: 225px;
}

@media (min-width: 500px) {
    main .profile-picture {
        width: 300px;
    }
}

h2 {
    text-align: center;
    padding-block: .5em;
    margin-block: 1vh;
    font-size: 2rem;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    background-color: hsl(var(--hsl-f9), .5);
}

#posts-container {
    padding-inline: 2vw;
}

.post-card {
    margin-bottom: .5em;
    /* max-width: min(var(--card-max-width), calc(100% - 4vw)); */
}

#filter-posts-nav {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    padding-inline: 2vw;
}

#search-post-form {
    flex-grow: 2;
}

#search-post-form button {
    margin-left: auto;
}

.feedback-card {
    margin-inline: auto;
    box-shadow: 0px 4px 11px 2px var(--clr-b8);
}

#delete-post-dialog {
    padding: 1em;
    border-radius: 8px;
    border: 1px solid var(--clr-b8);
    box-shadow: 0 4px 12px rgba(var(--rgb-00), 0.1);
    background-color: var(--clr-f9);
    color: var(--clr-txt);
    top: 50%;

    opacity: 1;
    transform: scale(1) translateY(-50%);
    transition: all .2s ease-in-out;

    @starting-style {
        opacity: 0;
        transform: scale(0);
    }
}

#delete-post-dialog::backdrop {
    background-color: hsl(var(--hsl-f9), .5);
    backdrop-filter: blur(4px);
}

#delete-post-dialog button {
    margin-inline: auto;
}

#close-dialog-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    opacity: 0.5;
    font-size: 16px;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.2s ease, background-color 0.2s ease;
}

#close-dialog-btn:hover {
    opacity: 1;
    background-color: rgba(var(--rgb-00), 0.1);
}

#delete-post-dialog form p {
    margin: 1em .5em;
}

#delete-post-dialog button[type=submit] {
    color: #F8F9FA;
    background-color: #a40c0c;
}

#delete-post-dialog  button[type=submit]:active {
    background-color: #620000;
}

.feedback-card {
    margin-top: 1em;
}
