@import './_universal.css';
@import './components/buttons.css';
@import './components/cards.css';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;  
    /* for the posts stream */
    height: 100vh;
    max-height: 100vh;
}

#profile-picture {
    flex-shrink: 0;
    margin-bottom: 3vh;   
    width: 225px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 100%;
    margin-inline: auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0px 3px #ccc;
}

@media (min-width: 500px) {
    #profile-picture {
        width: 300px;
    }
}

#profile-picture .circle {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 100%;
    box-shadow: 0 0px 3px #ccc;
}

h2 {
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: .5em;
}

#posts-container {
    overflow-y: scroll;
    scrollbar-width: none;
    width: fit-content;
    padding-top: .5em;
    /* to let the last post not be covered by the menu btn and the write-post-btn */
    padding-bottom: 12vh;
}

#posts-container .post-card {
    margin-bottom: 1vh;
}
