@import './_universal.css';
@import './components/buttons.css';
@import './components/cards.css';

main {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 0;
    padding-bottom: 10vh;
    position: relative;
}

#profile-picture {
    display: block;
    margin-top: 2vh; 
    margin-bottom: 1em;  
    width: 225px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0px 3px #ccc;

    /* For the balls inside */
    overflow: hidden;
    position: relative;
}

@media (min-width: 500px) {
    #profile-picture {
        width: 300px;
    }
}

#profile-picture .circle {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 100%;
    box-shadow: 0 0px 3px #ccc;
}

h2 {
    font-size: 2em;
    text-align: center;
    position: sticky;
    top: 0;
    padding-block: .5em;
    
    backdrop-filter: blur(10px);
    background-color: hsl(210, 17%, 98%, .5);
    /* border-bottom: 1px solid rgba(204, 204, 204, 0.3); */
}

.post-card {
    margin-bottom: .5em;
    max-width: min(var(--card-max-width), calc(100% - 4vw));

    /* If overflow isn't set to hidden, 
    the text would appear to spill out below the boundaries of the shrinking card
    when the deleting class is set. */
    overflow: hidden;
}

.delete-post-btn:hover {
    background-color: #ff8282;
}

.post-card.deleting 
{
    transition: all .3s ease-out;
    transform-origin: top;
    opacity: 0;
    transform: scaleY(0);
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
}

#feedback-card-wrapper {
    position: sticky;
    top: 50%;
    left: 0;
    width: 100%;
    padding-inline: var(--page-inline-padding);
}

.feedback-card {
    margin-inline: auto;
}
