@import './_universal.css';
@import './components/cards.css';

.reply-card {
    margin-top: .5em;
    margin-inline: auto;
}

#replies-container:empty:after {
    content: 'There aren\'t replies.';
}
